.grid-container {
	margin: 0 auto;
	background-color: #210124;
	display: flex;
	flex-wrap: wrap;
}

.grid-container div {
	box-sizing: border-box;

	border: 1px solid rgb(46, 46, 46);
}

.cell-0 {
	background-color: #b3dec1;
}
